<!DOCTYPE html>
<html lang="en">
<%- include('layout/head', { title: title }) %>
<body>
<%- include('layout/header') %>
<main>
    <div class="content-wrapper">
        <h1><%= title %></h1>
        <p>Text about this site will be here.</p>
    </div>
</main>
<%- include('layout/footer') %>
</body>
</html>
