<header class="main-header">
    <div class="content-wrapper">
        <nav>
            <p class="logo"><a href="/">stereo.photo</a></p>
            <ul class="main-nav">
                <li><a href="#">All photos</a></li>
                <li><a href="#">About me</a></li>
            </ul>
        </nav>
    </div>
</header>
