<header class="main-header">
    <div class="content-wrapper">
        <nav class="main-nav">
            <p class="logo"><a href="/">stereo.photo</a></p>
            <ul class="main-nav">
                <li><a href="/photos">All photos</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>
    </div>
</header>
